@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* ### Primary */
    --lightRed: hsl(356, 100%, 66%); /* (CTA text) */
    --veryLightRed: hsl(355, 100%, 74%); /* (CTA hover background) */
    --veryDarkBlue: hsl(208, 49%, 24%); /* (headings) */

    /* ### Neutral */
    --white: hsl(0, 0%, 100%); /* (text) */
    --grayishBlue: hsl(240, 2%, 79%); /* (footer text) */
    --veryDarkGrayishBlue: hsl(207, 13%, 34%); /* (body copy) */
    --veryDarkBlackBlue: hsl(240, 10%, 16%); /* (footer background) */

    /* ### Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --veryLightRed: hsl(13, 100%, 72%);
    --lightRed: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --veryDarkGrayBlue: hsl(237, 17%, 21%);
    --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

    /* font family */
    --fontOverpass: 'Overpass', sans-serif;
    --fontUbuntu: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: var(--white);
    overflow-x: hidden;
    font-family: var(--fontOverpass);
    font-weight: 600;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* background */
.background {
    position: absolute;
    z-index: -20;
    top: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, var(--veryLightRed), var(--lightRed));
    border-bottom-left-radius: 100px;
    overflow: hidden;
}

.background::before {
    content: '';
    width: 3175px;
    height: 3174px;
    background-image: url(../images/bg-pattern-intro.svg);

    position: absolute;
    top: -1350px;
    left: -460px;
}

/* header */
.header {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.header_logo {
    margin-right: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_item {
    margin: 0 20px;
    padding: 7px;
    position: relative;
}

/* work svg */
.nav_item svg {
    position: absolute;
    top: 12px;
    right: -12px;
    transform: rotate(0deg);
    transition: 0.3s;
}

.nav_item svg path {
    transition: opacity 0.3s;
}

.nav_item:hover svg {
    top: 11px;
    transform: rotate(-180deg);
}

.nav_item:hover svg path {
    opacity: 1;
}

/* work btn */
.nav_btn {
    opacity: 0.7;
    transition: opacity 0.3s;
    position: relative;
}

.nav_btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    height: 2px;
    width: 0;
    transition: width 0.3s;
}

.nav_item:hover .nav_btn {
    opacity: 1;
}

.nav_item:hover .nav_btn::after {
    width: 100%;
}

/* work list */
.list {
    position: absolute;
    z-index: -100;
    top: 35px;
    left: -25px;
    transition: all 0.3s;
    list-style: none;

    background-color: var(--white);
    color: var(--veryDarkBlackBlue);
    font-family: var(--fontUbuntu);
    font-weight: 500;
    width: 170px;
    padding: 25px;
    line-height: 2rem;
    border-radius: 10px;
}

.nav_item:hover .list {
    z-index: 0;
    opacity: 1;
}

.list li:hover {
    font-weight: 700;
}

/* work btn right */
.btn_block {
    display: flex;
    align-items: center;
}

#login {
    opacity: 0.7;
    margin-right: 50px;
    transition: opacity 0.3s;
}

#login:hover {
    opacity: 1;
}

/* additional header */
.additional_header {
    text-align: center;
    margin-top: 130px;
}

.additional_title {
    font-size: 3rem;
}

.additional_text {
    font-size: 1.1rem;
    margin: 20px 0;
    opacity: 0.7;
}

.btn-additional_header {
    margin: 0 10px;
}

/* section designed */
.designed {
    margin-top: 280px;
    position: relative;
}

.designed::after {
    content: '';
    width: 925px;
    height: 882px;
    background-image: url(../images/illustration-editor-desktop.svg);

    position: absolute;
    top: -22%;
    right: -35%;
    z-index: -1;
}

.designed_title {
    color: var(--veryDarkBlue);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 100px;
}

.content_text {
    width: 45%;
}

/* state section */
.state {
    margin-top: 250px;
    height: 400px;
    background: linear-gradient(90deg, var(--veryDarkGrayBlue), var(--veryDarkDesaturatedBlue));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
}

.state_circle {
    position: absolute;
    height: 100%;
    width: 1014px;
    overflow: hidden;
}

.state_circle img {
    position: absolute;
    z-index: 0;
    top: -506px;
    left: -205px;
}

.state_img {
    position: relative;
}

.state_img img {
    position: absolute;
    top: -17%;
}

.state_title {
    position: relative;
    margin-top: 90px;
    font-size: 2rem;
}

.state_text {
    margin-top: 50px;
    opacity: 0.7;
    font-weight: 300;
    line-height: 1.5rem;
}

/* subsection */
.subsection {
    margin: 300px 0;
}

.subsection_img {
    position: relative;
}

.subsection_img::before {
    content: '';
    width: 974px;
    height: 786px;
    background-image: url(../images/illustration-laptop-desktop.svg);
    position: absolute;
    top: -200px;
    left: -70%;
}

/* footer */
.footer {
    height: 360px;
    width: 100%;
    background-color: var(--veryDarkBlackBlue);
    border-top-right-radius: 100px;
}

.footer_content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 30% 60%;
}

.footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_nav_title {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.footer_list {
    list-style: none;
    line-height: 1.8rem;
    opacity: 0.7;
    font-weight: 300;
}

.footer_nav_item {
    width: 100%;
}

.footer_list li {
    position: relative;
    display: inline;
    padding: 5px;
}

.footer_list li::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background-color: var(--white);
    left: 0;
    bottom: 0;
    transition: width 0.2s;
}

.footer_list li:hover::after {
    width: 100%;
}

/* general */
.btn-red {
    width: 135px;
    height: 50px;
    background-color: var(--white);
    color: var(--lightRed);
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s;
}

.btn-red:hover {
    color: var(--white);
    background-color: var(--veryLightRed);
}

.section_title {
    color: var(--veryDarkBlue);
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.section_text {
    color: var(--veryDarkGrayishBlue);
    line-height: 1.5rem;
    margin-bottom: 90px;
    opacity: 0.7;
}

/* helpers */
.center {
    display: flex;
    justify-content: center;
}

.mt-50 {
    margin-top: 50px;
}

.container_grid {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100%;
}

.w100p {
    width: 100%;
}
