@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* ### Primary */
    --veryLightRed: hsl(355, 100%, 74%); /* (CTA hover background) */
    --veryDarkBlue: hsl(208, 49%, 24%); /* (headings) */

    /* ### Neutral */
    --white: hsl(0, 0%, 100%); /* (text) */
    --grayishBlue: hsl(240, 2%, 79%); /* (footer text) */
    --veryDarkGrayishBlue: hsl(207, 13%, 34%); /* (body copy) */
    --veryDarkBlackBlue: hsl(240, 10%, 16%); /* (footer background) */

    /* ### Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --veryLightRed: hsl(13, 100%, 72%);
    --lightRed: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --veryDarkGrayBlue: hsl(237, 17%, 21%);
    --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

    /* font family */
    --fontOverpass: 'Overpass', sans-serif;
    --fontUbuntu: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    color: var(--white);
    font-family: var(--fontOverpass);
    font-weight: 600;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* background */
.background {
    position: absolute;
    z-index: -20;
    top: 0;
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, var(--veryLightRed), var(--lightRed));
    border-bottom-left-radius: 100px;
    overflow: hidden;
}

.background::before {
    content: '';
    width: 3175px;
    height: 3174px;
    background-image: url(../images/bg-pattern-intro.svg);

    position: absolute;
    top: -1350px;
    left: -460px;
}

/* header */
.header {
    display: flex;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.header_logo {
    margin-right: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_item {
    margin: 0 20px;
    padding: 7px;
    position: relative;
}

.close,
.hamburger {
    display: none;
}

.close svg path,
.hamburger svg path {
    transition: fill 0.3s;
}

.close:hover svg path,
.hamburger:hover svg path {
    fill: var(--veryDarkBlue);
}

/* work svg */
.nav_item svg {
    position: absolute;
    top: 12px;
    right: -12px;
    transform: rotate(0deg);
    transition: 0.3s;
}

.nav_item svg path {
    transition: opacity 0.3s;
}

.nav_item:hover svg {
    top: 11px;
    transform: rotate(-180deg);
}

.nav_item:hover svg path {
    opacity: 1;
}

/* work btn */
.nav_btn {
    opacity: 0.7;
    transition: opacity 0.3s;
    position: relative;
}

.nav_btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    height: 2px;
    width: 0;
    transition: width 0.3s;
}

.nav_item:hover .nav_btn {
    opacity: 1;
}

.nav_item:hover .nav_btn::after {
    width: 100%;
}

/* work list */
.list {
    position: absolute;
    z-index: -100;
    top: 35px;
    left: -25px;
    transition: all 0.3s;
    list-style: none;

    background-color: var(--white);
    color: var(--veryDarkBlackBlue);
    font-family: var(--fontUbuntu);
    font-weight: 500;
    width: 170px;
    padding: 25px;
    line-height: 2rem;
    border-radius: 10px;
}

.nav_item:hover .list {
    z-index: 0;
    opacity: 1;
}

.list li:hover {
    font-weight: 700;
}

/* work btn right */
.btn_block {
    display: flex;
    align-items: center;
}

#login {
    opacity: 0.7;
    margin-right: 50px;
    transition: opacity 0.3s;
}

#login:hover {
    opacity: 1;
}

/* additional header */
.additional_header {
    text-align: center;
    margin-top: 130px;
}

.additional_title {
    font-size: 3rem;
}

.additional_text {
    font-size: 1.1rem;
    margin: 20px 0;
    opacity: 0.7;
}

.btn-additional_header {
    margin: 0 10px;
}

/* section designed */
.designed {
    margin-top: 280px;
    position: relative;
}

.designed::after {
    content: '';
    width: 925px;
    height: 882px;
    background-image: url(../images/illustration-editor-desktop.svg);

    position: absolute;
    top: -22%;
    right: -35%;
    z-index: -1;
}

.designed_title {
    color: var(--veryDarkBlue);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 100px;
}

.content_text {
    width: 45%;
}

/* state section */
.state {
    margin-top: 250px;
    height: 400px;
    background: linear-gradient(90deg, var(--veryDarkGrayBlue), var(--veryDarkDesaturatedBlue));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
}

.state_circle {
    position: absolute;
    height: 100%;
    width: 1014px;
    overflow: hidden;
}

.state_circle img {
    position: absolute;
    z-index: 0;
    top: -506px;
    left: -205px;
}

.state_img {
    position: relative;
}

.state_img img {
    position: absolute;
    top: -17%;
}

.state_title {
    position: relative;
    margin-top: 90px;
    font-size: 2rem;
}

.state_text {
    margin-top: 50px;
    opacity: 0.7;
    font-weight: 300;
    line-height: 1.5rem;
}

/* subsection */
.subsection {
    margin: 300px 0;
}

.subsection_img {
    position: relative;
}

.subsection_img::before {
    content: '';
    width: 974px;
    height: 786px;
    background-image: url(../images/illustration-laptop-desktop.svg);
    position: absolute;
    top: -200px;
    left: -70%;
}

/* footer */
.footer {
    min-height: 320px;
    width: 100%;
    background-color: var(--veryDarkBlackBlue);
    border-top-right-radius: 100px;
}

.footer_content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 30% 60%;
}

.footer_nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_nav_title {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.footer_list {
    list-style: none;
    line-height: 1.2rem;
    opacity: 0.7;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.footer_nav_item {
    width: 100%;
}

.footer_list li {
    position: relative;
    display: inline;
    padding: 5px;
}

.footer_list li::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    background-color: var(--white);
    left: 0;
    bottom: 0;
    transition: width 0.2s;
}

.footer_list li:hover::after {
    width: 100%;
}

/* general */
.btn-red {
    width: 135px;
    height: 50px;
    background-color: var(--white);
    color: var(--lightRed);
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s;
}

.btn-red:hover {
    color: var(--white);
    background-color: var(--veryLightRed);
}

.section_title {
    color: var(--veryDarkBlue);
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.section_text {
    color: var(--veryDarkGrayishBlue);
    line-height: 1.5rem;
    margin-bottom: 90px;
    opacity: 0.7;
}

/* helpers */
.center {
    display: flex;
    justify-content: center;
}

.container_grid {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100%;
}

.w100p {
    width: 100%;
}

/* media */
@media (max-width: 1140px) {
    .container {
        width: 910px;
    }

    .designed::after {
        right: -55%;
    }

    .state_img img {
        left: -17%;
    }

    .subsection_img::before {
        left: -92%;
    }
}

@media (max-width: 975px) {
    .container {
        width: 775px;
    }

    .content_text {
        width: 55%;
    }

    .section_text {
        margin-bottom: 70px;
    }

    .section_text:last-child {
        margin-bottom: 0;
    }

    .section_title {
        margin-bottom: 20px;
    }

    .designed::after {
        right: -75%;
    }

    .state {
        margin-top: 250px;
        height: 380px;
    }

    .state_img img {
        left: -17%;
        width: 500px;
    }

    .state_text {
        margin-top: 30px;
    }

    .subsection {
        margin: 250px 0;
    }

    .subsection_img::before {
        left: -125%;
    }

    .w100p {
        width: 100%;
    }
}

@media (max-width: 875px) {
    .container {
        width: 660px;
    }

    .background {
        height: 500px;
    }

    .background::before {
        background-size: 40%;
        top: -1570px;
        left: -200px;
    }

    .header {
        margin-top: 40px;
    }

    .btn-red {
        width: 130px;
        height: 40px;
    }

    .additional_header {
        margin-top: 100px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
    }

    .designed_title {
        margin-bottom: 400px;
    }

    .content_text {
        width: 100%;
        text-align: center;
    }

    .designed {
        margin-top: 200px;
    }

    .designed::after {
        width: 406px;
        height: 331px;
        right: 19%;
        top: 65px;
        background-image: url(../images/illustration-editor-mobile.svg);
    }

    .state {
        margin-top: 200px;
        height: 340px;
    }

    .state_img img {
        left: -15%;
        top: -30%;
        width: 425px;
    }

    .state_title {
        margin-top: 50px;
        font-size: 1.8rem;
    }

    .state_text {
        margin-top: 20px;
    }

    .subsection {
        margin-top: 450px;
    }

    .container_gridOneCol {
        grid-template-columns: 100%;
        position: relative;
    }

    .subsection_img {
        position: absolute;
        left: 75px;
        top: -45%;
    }

    .subsection_img::before {
        width: 498px;
        height: 359px;
        background-image: url(../images/illustration-laptop-mobile.svg);
    }

    /* navigation mobile */
    .close,
    .hamburger {
        display: block;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 45px;
        right: 0;
        z-index: 100;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        border-radius: 10px;
        width: 260px;
    }

    .nav {
        flex-direction: column;
        text-align: center;
        border-bottom: 1px solid var(--grayishBlue);
        width: 80%;
    }

    .nav_item {
        margin-top: 15px;
    }

    .nav_item svg {
        right: -10px;
    }

    .nav_active svg {
        transform: rotate(-180deg);
    }

    .nav_item svg path {
        stroke: var(--lightRed);
        opacity: 1;
    }

    .nav_btn {
        color: var(--veryDarkBlue);
        opacity: 1;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .nav_btn::after {
        display: none;
    }

    .list {
        display: none;
        position: static;
        list-style: none;
        background-color: #efeff1;
        color: var(--veryDarkBlue);
        font-weight: 400;
        line-height: 1.8rem;
        padding: 10px;
    }

    .nav_active .list {
        display: block;
    }

    .btn_block-mob {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }

    #login {
        color: var(--veryDarkBlue);
        opacity: 1;
        margin-right: 0;
        font-weight: 600;
        font-size: 1.2rem;
    }

    #signUp {
        margin: 20px 0;
        font-size: 1.2rem;
        color: var(--white);
        background: linear-gradient(90deg, var(--veryLightRed), var(--lightRed));
        transition: color 0.3s;
    }

    #signUp:hover {
        color: var(--veryDarkBlue);
    }
}

@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .container {
        width: 310px;
    }

    .background {
        height: 380px;
    }

    .background::before {
        background-size: 30%;
        top: -1220px;
        left: -100px;
    }

    .additional_header {
        margin-top: 50px;
    }

    .additional_title {
        font-size: 1.6rem;
    }

    .additional_text {
        font-size: 0.9rem;
        margin: 15px 0;
    }

    .btn_block {
        margin-top: 30px;
    }

    .designed {
        margin-top: 110px;
    }

    .designed_title {
        font-size: 1.6rem;
    }

    .designed::after {
        right: -15%;
    }

    .section_title {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .section_text {
        margin-bottom: 30px;
        line-height: 1.2rem;
    }

    .state {
        height: 330px;
        position: relative;
    }

    .state_circle {
        width: 100%;
    }

    .state_circle img {
        top: -90px;
        left: 0;
        display: block;
        width: 100%;
        height: auto;
    }

    .state_img img {
        left: 0;
        top: -162px;
        width: 320px;
    }

    .container_gridOneCol-2 {
        grid-template-columns: 100%;
    }

    .state_content {
        text-align: center;
    }

    .state_title {
        margin-top: 120px;
        font-size: 1.4rem;
    }

    .state_text {
        margin-top: 15px;
    }

    .subsection {
        margin-top: 400px;
        margin-bottom: 40px;
    }

    .subsection_img {
        left: -30%;
        bottom: 155%;
    }

    .footer_content {
        padding-top: 0;
        grid-template-columns: 1fr;
    }

    .footer_nav {
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-top: 30px;
    }

    .footer_nav_item {
        margin-bottom: 20px;
    }

    .footer_nav_title {
        margin-bottom: 5px;
    }

    .footer_list {
        line-height: 1rem;
    }

    .footer .header_logo {
        margin: 0 auto;
        margin-top: 40px;
    }
}
