@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* ### Primary */
    --lightRed: hsl(356, 100%, 66%); /* (CTA text) */
    --veryLightRed: hsl(355, 100%, 74%); /* (CTA hover background) */
    --VeryDarkBlue: hsl(208, 49%, 24%); /* (headings) */

    /* ### Neutral */
    --white: hsl(0, 0%, 100%); /* (text) */
    --grayishBlue: hsl(240, 2%, 79%); /* (footer text) */
    --veryDarkGrayishBlue: hsl(207, 13%, 34%); /* (body copy) */
    --veryDarkBlackBlue: hsl(240, 10%, 16%); /* (footer background) */

    /* ### Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --veryLightRed: hsl(13, 100%, 72%);
    --lightRed: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --veryDarkGrayBlue: hsl(237, 17%, 21%);
    --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

    /* font family */
    --fontOverpass: 'Overpass', sans-serif;
    --fontUbuntu: 'Ubuntu', sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}
